<p id="notice"><%= notice %></p>
<div class="complaint_report_index">
  <div class="ui grid">
    <div class="four wide column" style="padding-top: 5em">
      <%= render "student/requests/request_sidebar" %>
    </div>
    <div class="twelve wide column">
      <div class="" id="complaint_report">
        <%= render "student/complaint_reports/complaint_report_list" %>
      </div>
    </div>
  </div>
</div>
<script>
  $("#complaint_report_btn").addClass("active");
  if (localStorage.getItem("new_complaint_report")) {
    toastr.success(localStorage.getItem("new_complaint_report"))
    localStorage.removeItem("new_complaint_report")
  }
</script>