<p id="notice"><%= notice %></p>

<p>
  <strong>Water price:</strong>
  <%= @service_charge.water_price %>
</p>

<%= link_to 'Edit', edit_service_charge_path(@service_charge) %> |
<%= link_to 'Back', service_charges_path %>
