<div class="homepage_management" style="width: 80%; margin: 0 auto; padding-top: 2rem">
  <div class="header" style="width: 100%; display: flex; justify-content: center; padding: 1rem 0">
    <img src="/assets/best_place.svg" style="width: 70%;" />
  </div>
  <div class="content">
    <div class="post_list" style="padding: 2rem">
      <%= render 'post_list' %>
    </div>
  </div>
  <div class="footer">
</div>