<form class="ui form" id="reset_password_form" style="display: flex; flex-direction: column; align-items: center; padding: 5rem 0;">
  <input type="hidden" id="token" />
  <div class="required field field_line" style="width: 50%">
    <label>Mật khẩu mới</label>
    <input type="password" id="password"/>
  </div>
  <div class="required field field_line" style="width: 50%">
    <label>Nhập lại mật khẩu</label>
    <input type="password" id="password_confirmation"/>
  </div>
  <div class="field" style="">
    <div class="ui blue button custom_btn" onclick="resetPassword()">Gửi</div>
  </div>
</form>

<script>
  const queryString = window.location.search;
  const params = new URLSearchParams(queryString);
  const token = params.get("token");

  const resetPassword = () => {
    $.ajax({
      type: 'POST',
      url: '/manager/reset-password/update',
      data: {
        password: $('#password').val(),
        password_confirmation: $('#password_confirmation').val(),
        token: token
      },
      success: function(result){
        window.localStorage.setItem('login_successful', result.message)
        window.location = '/manager'
      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  };
  
</script>