<h1>Thay đổi mật khẩu</h1>
<% if @user.class.name == 'Student' %>
  <p>Cập nhật mật khẩu cho tài khoản <%= @user.student_profile.name %></p>
  <%= link_to "Đổi mật khẩu", "http://localhost:3000/student/reset-password/edit?token=#{@user.reset_token}&student_id_number=#{@user.student_id_number}"%>
<% else %>
  <p>Cập nhật mật khẩu cho tài khoản quản lý</p>
  <%= link_to "Đổi mật khẩu", "http://localhost:3000/manager/reset-password/edit?token=#{@user.reset_token}"%>
<% end %>
