<p id="notice"><%= notice %></p>
<div class="form_request_index">
  <div class="ui grid">
    <div class="four wide column" style="padding-top: 5em">
      <%= render "student/requests/request_sidebar" %>
    </div>
    <div class="twelve wide column">
      <div class="" id="form_request">
        <%= render "student/form_requests/form_request_list" %>
      </div>
    </div>
  </div>
</div>
<script>
  $("#form_request_btn").addClass("active");
  if(window.localStorage.getItem("new_form_request")) {
    toastr.success(window.localStorage.getItem("new_form_request"))
    window.localStorage.removeItem("new_form_request");
  }
</script>