<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @facility_report.title %>
</p>

<%= link_to 'Edit', edit_facility_report_path(@facility_report) %> |
<%= link_to 'Back', facility_reports_path %>
