<div class="room_member">
  <h3 class="ui dividing header">
    Student Information
  </h3>
  <div class="content">
    <div class="ui special cards">
      <% for i in 0..5 %>
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button" onclick="viewMore()">View more</div>
                </div>
              </div>
            </div>
            <img src="/assets/ava.jpg">
          </div>
          <div class="content">
            <div class="header">Nguyen Thi Huong Tra (xinh dep)</div>
            <div class="meta">
              <span class="date">K62J</span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              2 Members
            </a>
          </div>
        </div>
      <% end %>
      <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Nguyễn Thị Hương Trà
        </div>
        <div class="image content">
          <div class="ui medium image">
            <img src="/assets/ava.jpg">
          </div>
          <div class="description" style="width: 100%">
            <div class="ui grid">
              <div class="four wide column">Ma sinh vien: </div>
              <div class="twelve wide column">17021070</div>
              <div class="four wide column">Ngay sinh: </div>
              <div class="twelve wide column">21/11/1999</div>
              <div class="four wide column">So dien thoai: </div>
              <div class="twelve wide column">0972403331</div>
              <div class="four wide column">Que quan: </div>
              <div class="twelve wide column">Nghe An</div>
              <div class="four wide column">Gioi tinh: </div>
              <div class="twelve wide column">Nu</div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive right labeled icon button basic" style="color: #246966!important; border-color: #246966!important">
            Next
            <i class="right arrow icon"></i>
          </div>

          <%# <button class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
          </button> %>
        </div>
      </div>
    </div>
  </div>
<div>

<script>
  $('.special.cards .card .image').dimmer({
    on: 'hover'
  });
  function viewMore(){
    $('.ui.modal')
  .modal('show')
;
  }
</script>