<div class="room_sidebar">
  <div class="ui secondary vertical pointing menu">
    <a class="item" id="room_member_btn" href="/student/my-room/members" data-turbolinks="false">
      Thành viên
    </a>
    <a class="item" id="room_service_charge_btn" href="/student/my-room/services" data-turbolinks="false">
      Hoá đơn dịch vụ
    </a>
  </div>
</div>
