<div class="room_show">
  <div class="ui grid">
    <div class="four wide column" style="padding-top: 5em">
      <%= render "student/rooms/room_sidebar" %>
    </div>
    <div class="twelve wide column" style="padding-top: 5em">
    <% if current_user.room.id != 1 %>
      <h3>
        <strong>Room:</strong>
        <%= @room.room_name %>
      </h3>
      <div id="room_member">
        <%= render "student/rooms/member" %>
      </div>
    <% else %>
      <h3>Đang sắp xếp..</h3>
    <% end %>
    </div>
  </div>
</div>
<script>
  const memberBtn = document.querySelector('#room_member_btn');
  memberBtn.classList.add('active');
</script>
