
<p id="notice"><%= notice %></p>
<div class="room_show">
  <div class="ui grid">
    <div class="four wide column" style="padding-top: 5em">
      <%= render "student/rooms/room_sidebar" %>
    </div>
    <div class="twelve wide column" style="padding-top: 5em">
      <h3>
        <strong>Room:</strong>
        <%= @room.room_name %>
      </h3>
      <div id="room_member">
        <%= render "student/rooms/member" %>
      </div>
    </div>
  </div>
</div>
<script>
  const memberBtn = document.querySelector('#room_member_btn')
  memberBtn.classList.add('active')
</script>
