<% provide :title, "Đăng nhập"%>
<div class="container manager_session new">
  <div class="ui grid">
    <div class="eight wide column">
      <div class="right_column">
        <div class="hcma_logo" style="display: flex; justify-content: center">
          <img class="logo_image" style=""src="/assets/hcma logo.png"/>
        </div>
        <div class="title" style="line-height: 4rem !important">
         Đăng nhập vào <br/> ký túc xá
        </div>
        <form class="ui form segment" id="login_form" style="border: none; -webkit-box-shadow: none">
          <div class="ui field field_line" style="position: relative">
            <input type="text" name="email" placeholder="Email" class="input field_line" style="margin-bottom: 0 !important " />
          </div>
          <div class="field ui field_line" style="position: relative">
            <input type="password" name="password" placeholder="Mật khẩu" class="input field_line" style="margin-bottom: 0 !important;" />
          </div>
          <div class="ui checkbox">
            <div class="field">
            <input type="checkbox" name="remember_me">
            <label>Lưu đăng nhập</label>
            </div>
          </div>
          <div class="actions" style="display: flex; justify-content: flex-start; margin-top: 1rem;">
            <button class="ui button custom_btn">
              Đăng nhập
            </button>
          </div>
          <%# <button class="ui inverted primary button">Primary</button> %>
          <div class="reset_btn" onclick="resetPassword()">Quên mật khẩu</div>
         <form> 
      </div>
    </div>
    <div class="eight wide column" style="padding-right: 5rem">
      <img class="ui image" style="height: 100vh; width: 100%" src="/assets/manager_login.svg"/>
    </div>
  </div>
</div>

<style>
  .reset_btn:hover {
    text-decoration: underline;
    cursor: pointer;
  }
</style>

<script>
  function resetPassword() {
    $.ajax({
      type: 'POST',
      url: '/manager/reset-password',
      success: function(result){
        toastr.success(result.message)
      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  }

  function loginSubmit(e){
    e.preventDefault();
    let loginForm = document.getElementById('login_form');
    let formData = new FormData(loginForm);  
    $.ajax({
      type: 'POST',
      url: '/manager/login',
      processData: false,
      contentType: false,
      mimeType: 'multipart/form-data',
      data: formData,
      success: function(result){
        window.location = "/manager/students-arrangement"
      },
      error: function (error) {
        toastr.error(JSON.parse(error.responseText).message)
      }
    })
  };
  
  $('#login_form').off('submit').submit(function(e){
    if($('#login_form').form('is valid')) {
      loginSubmit(e);
    }
  })

  $('#login_form')
    .form({
      fields: {
        email: {
          identifier: 'email',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập email để đăng nhập!!'
            },
            {
              type: 'email',
              prompt: 'Email không đúng định dạng!!'
            }
          ]
        },
        password: {
          identifier: 'password',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập mật khẩu!!'
            },
          ]
        }
      },
      inline: true,
      on: 'blur'
    })
  ;
</script>