<form class="ui form" id="reset_password_form" style="display: flex; flex-direction: column; align-items: center; padding: 5rem 0;">
  <h1 style="margin-bottom: 3rem">Ký túc xá Học viện Chính trị Quốc gia Hồ Chí Minh</h1>
  <input type="hidden" id="token" />
  <div class="required field field_line" style="width: 50%">
    <label>Mật khẩu mới</label>
    <input type="password" id="password" name="password"/>
  </div>
  <div class="required field field_line" style="width: 50%">
    <label>Nhập lại mật khẩu</label>
    <input type="password" id="password_confirmation" name="password_confirmation"/>
  </div>
  <div class="field" style="">
    <div class="ui blue button submit custom_btn">Gửi</div>
  </div>
</form>

<script>
  const queryString = window.location.search;
  const params = new URLSearchParams(queryString);
  const token = params.get("token");
  const student_id_number = params.get("student_id_number")

  const resetPassword = (e) => {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/student/reset-password/update',
      data: {
        password: $('#password').val(),
        password_confirmation: $('#password_confirmation').val(),
        token: token,
        student_id_number: student_id_number
      },
      success: function(result){
        window.localStorage.setItem('login_successful', result.message)
        window.location = '/student/login'
      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  };

   $('#reset_password_form').off('submit').submit(function(e){
    if($('#reset_password_form').form('is valid')) {
      resetPassword(e);
    }
  })

  $(`#reset_password_form`)
    .form({
      fields: {
        password: {
          identifier: 'password',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập mật khẩu mới!'
            },
            {
              type: 'minLength[6]',
              prompt: 'Mật khẩu tối thiểu 6 kí tự!'
            }
          ]
        },
        password_confirmation: {
          identifier: 'password_confirmation',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập lại mật khẩu!'
            },
            {
              type: 'match[password]',
              prompt: 'Mật khẩu không khớp!'
            }
          ]
        }
      },
      inline: true,
      on: 'blur'
    })
  ;
  
</script>