<div class="room_sidebar">
  <div class="ui secondary vertical pointing menu">
    <a class="item active" id="room_member_btn">
      Members
    </a>
    <a class="item" id="room_service_charge_btn">
      Service charges
    </a>
    <a class="item" id="room_facility_btn">
      Facilities
    </a>
  </div>
</div>
