
<p id="notice"><%= notice %></p>
<div class="room_management_show">
  <div class="ui grid">
    <div class="four wide column" style="padding-top: 5em">
      <%= render partial: "manager/room_management/room_management_sidebar", locals: {active: 'information'} %>
    </div>
    <div class="twelve wide column">
      <p>
        <strong>Phòng:</strong>
        <%= @room.room_name %>
      </p>
      <div id="room_member">
        <%= render "room_member_list" %>
      </div>
    </div>
  </div>
</div>
<script>
  const memberBtn = document.querySelector('#room_member_btn')
  const serviceBtn = document.querySelector('#room_service_charge_btn')
  const facilityBtn = document.querySelector('#room_facility_btn')
  const memberList = document.querySelector('#room_member')
  const serviceList = document.querySelector('#room_service_charge')
  const facilityList = document.querySelector('#room_facility')


  memberList.style.display = 'block'
  serviceList.style.display = 'none'
  facilityList.style.display = 'none'

  memberBtn.onclick = () => {
    memberList.style.display = 'block'
    serviceList.style.display = 'none'
    facilityList.style.display = 'none'
    memberBtn.classList.add('active')
    serviceBtn.classList.remove('active')
    facilityBtn.classList.remove('active')
  }
  serviceBtn.onclick = () => {
    memberList.style.display = 'none'
    serviceList.style.display = 'block'
    facilityList.style.display = 'none'
    memberBtn.classList.remove('active')
    serviceBtn.classList.add('active')
    facilityBtn.classList.remove('active')
  }
  facilityBtn.onclick = () => {
    memberList.style.display = 'none'
    serviceList.style.display = 'none'
    facilityList.style.display = 'block'
    memberBtn.classList.remove('active')
    serviceBtn.classList.remove('active')
    facilityBtn.classList.add('active')
  }

  $("#manager_room_management_path").addClass("active");
  if (window.localStorage.getItem('updated_student')) {
    toastr.success(window.localStorage.getItem('updated_student'))
    localStorage.removeItem('updated_student');
    
  }
</script>
