.room_member{
  .content{
    width:100%;
    // display: flex;
    // flex-wrap: wrap !important;
    // display: inline;
    .card {
      width: 30% !important;
      float: left;
    }
  }
}

.room_show {
  width: 70%;
  margin: 0 auto;
}