<div class="student_arrangement main container" style="position: fixed; width: 80%">
  <div class="students_arrangement main"
    style="height: calc(100vh - 58.72px); ">
    <div class="ui grid" style="height: height: calc(100vh - 58.72px); overflow: hidden">
      <div class="four wide column left" style="background-color: #edeff1; overflow: auto; height: calc(100vh - 58.72px)">
        <div class="title" style="margin-bottom: 1rem; display: flex; justify-content: space-between; align-items: center">
          <div class="ui icon input" style="width: 85%;margin: 0 auto ">
            <input type="text" placeholder="Nhập tên phòng" name="q" id="q" class="form-control search-room-form" >
            <i class="icon">
              <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
            </i> 
          </div>
        </div>
        <div id="room_list_arrangement">
        </div>
      </div>
      <div class="eight wide column center" style="background-color: white; height: calc(100vh - 58.72px); overflow: auto;" id="active_room_box">
        
      </div>
      <div class="four wide column right" style="background-color: #edeff1; overflow: auto; height: calc(100vh - 58.72px)">
        <div class="header" style="margin-bottom: 1rem; display: flex; justify-content: space-between; align-items: center">
          <div class="ui icon input" style="width: 95%;margin: 0 auto ">
            <input type="text" placeholder="Tên hoặc mã học viên" name="q" id="q" class="form-control search-student-form" >
            <i class="icon">
              <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
            </i> 
          </div>
        </div>
        <div class="students_list" id="pending_students_list" ondrop="dropRevert(event)" ondragover="allowDrop(event)" style="height: calc(100vh - 58.72px)">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#example1').progress();
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);

  }
  // add student
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    var count = document.querySelector('.room_member_list').childElementCount;
    $.ajax({
      type: "POST",
      url: "students-arrangement/add-student",
      data: {
        student_id: data.split("_")[1],
        room_id: $("#room_id_input").val()
      },
      success: function(result){
        document.querySelector('.room_member_list').appendChild(document.getElementById(data));
        document.querySelector(`#${data}`).classList.add("eight", "wide","column");
        toastr.success("Thêm học viên vào phòng thành công!");
        $.ajax({
          type: "GET",
          url: `room-management/${result.room.id}/number-student`,
          success: function(result){
            $('#room_current_member').html(result.room.number_student + "/" + result.room.max_number_student)
            $(`#room_member_card_${result.room.id}`).html(result.room.number_student + "/" + result.room.max_number_student)
          },
          error: function (error) {

          }
        })
        
      },
      error: function(error){
        console.log(error)
        if(error.status == 400)
          toastr.error("Xin lỗi, phòng này đã đủ sinh viên!");
      }
    })
  }
  function dropRevert(ev){
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    document.querySelector('.students_list').appendChild(document.getElementById(data));
    document.querySelector(`#${data}`).classList.remove("eight", "wide", "column");
    console.log(data)

    $.ajax({
      type: "POST",
      url: "students-arrangement/remove-student",
      data: {student_id: data.split("_")[1]},
      success: function(result){
        toastr.success("Di chuyển học viên thành công!");
        $.ajax({
          type: "GET",
          url: `room-management/${result.room.id}/number-student`,
          success: function(result){
            $('#room_current_member').html(result.room.number_student + "/" + result.room.max_number_student)
            $(`#room_member_card_${result.room.id}`).html(result.room.number_student + "/" + result.room.max_number_student)
          },
          error: function (error) {

          }
        })

      },
      error: function(result){
        console.log(result.message)
      }
    })

  }
  //get all room
  $.ajax({
    type: "GET",
    url: "students-arrangement/all-rooms-arrangement",
    success: function(result){
      $('#room_list_arrangement').html(result)
    }

  })

  $.ajax({
    type: "GET",
    url: "student-management/pending-students",
    success: function(result){
      $('#pending_students_list').html(result)
    }
  })

  function activeRoom(room_id){
    $.ajax({
      type: "GET",
      url: `room-management/rooms/${room_id}/active_room`,
      success: function(result){
        $("#active_room_box").html(result)
         console.log("oke")

      },
      error: function (error) {

      }
    })
  }
  
  // SEARCH ROOM
$(document).on("turbolinks:load", function() {
    $(".search-room-form").on("keyup", function() {
      // $(".students").html("");
      // $('#room_list_arrangement').html("")
      $.ajax({
        type: "GET",
        url: "/manager/students-arrangement/all-rooms-arrangement?q=" + this.value,
        success: function(result){
          $('#room_list_arrangement').html(result)
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
        }
      })
    });
  });

    // SEARCH STUDENT
  $(document).on("turbolinks:load", function() {
    $(".search-student-form").on("keyup", function() {
      // $(".students").html("");
      // $('#pending_students_list').html("")
      $.ajax({
        type: "GET",
        url: "/manager/students-arrangement/all-pending-students-arrangement?q=" + this.value,
        success: function(result){
          $('#pending_students_list').html(result)
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
        }
      })
    });
  });

</script>
<style>
.students_item{
  cursor: pointer;
}

</style>