<% provide :title, "Sắp xếp học viên"%>
<div class="student_arrangement main container" style="position: fixed; width: 80%">
  <div class="students_arrangement main"
    style="height: calc(100vh - 58.72px); ">
    <div class="ui grid" style="height: height: calc(100vh - 58.72px); overflow: hidden">
      <div class="four wide column left" style="background-color: #edeff1; overflow: auto; height: calc(100vh - 58.72px)">
        <div class="title" style="margin-bottom: 1rem; display: flex; justify-content: space-between; align-items: center">
          <div class="ui icon input" style="width: 85%;margin: 0 auto ">
            <input type="text" placeholder="Nhập tên phòng" name="q" id="q" class="form-control search-room-form" >
            <i class="icon">
              <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
            </i> 
          </div>
        </div>
        <div id="room_list_arrangement">

        </div>
      </div>
      <div class="eight wide column center" style="background-color: white; height: calc(100vh - 58.72px); overflow: auto;" id="active_room_box">
        
      </div>
      <div class="four wide column right" style="background-color: #edeff1; overflow: auto; height: calc(100vh - 58.72px)">
        <div class="header" style="margin-bottom: 1rem; display: flex; justify-content: space-between; align-items: center">
          <div class="ui icon input" style="width: 95%;margin: 0 auto ">
            <input type="text" placeholder="Tên hoặc mã học viên" name="q" id="q" class="form-control search-student-form" >
            <i class="icon">
              <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
            </i> 
          </div>
        </div>
        <div class="students_list" id="pending_students_list" ondrop="dropRevert(event)" ondragover="allowDrop(event)" style="height: calc(100vh - 58.72px)">

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#example1').progress();
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id); //lưu id của cái đã giữ vào biến text của dataTransfer

  }
  // add student
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text"); // lấy  id thẻ đã giữ từ dataTransfer
    var count = document.querySelector('.room_member_list').childElementCount; //đếm sô lưogj học viên hiện tại của phòng -> thực chất không sd đến
    //check số lượng ở controller
    $.ajax({
      type: "POST",
      url: "students-arrangement/add-student",
      data: {
        student_id: data.split("_")[1], // lấy id của học viên bănhgf id của div data
        room_id: $("#room_id_input").val() // id ở partial _room_active
      },
      success: function(result){
        if (result.room_id != result.room.id){ //check nếu cùng 1 phongf thì k có tbao
          console.log(result.room_id)
          console.log(result.room.id)
          document.querySelector('.room_member_list').appendChild(document.getElementById(data)); // thêm 1 thẻ hvien có id là data đã set trên
          document.querySelector(`#${data}`).classList.add("eight", "wide","column"); // thêm class vào cho đúng định dạng
          toastr.success("Thêm học viên vào phòng thành công!");
          // update css
          $.ajax({
            type: "GET",
            url: `room-management/${result.room.id}/number-student`,
            success: function(result){
              $('#room_current_member').html(result.room.number_student + "/" + result.room.max_number_student)
              $(`#room_member_card_${result.room.id}`).html(result.room.number_student + "/" + result.room.max_number_student)
              if (result.room.status == "PENDING") {
                  $(`#room_status_card_${result.room.id}`).html('Đang bỏ trống')
              } else if (result.room.status == "UNFILLED"){
                $(`#room_status_card_${result.room.id}`).html('Đang còn chỗ')
              }
              else{
                $(`#room_status_card_${result.room.id}`).html('Đã đầy')
              }
            },
            error: function (error) {

            }
          })
        }
      },
      error: function(error){
        console.log(error)
        //check nếu cùng 1 phòng thì k thay  đổi gì cả
        if (error.responseJSON.room_id != error.responseJSON.room.id){ 
          if(error.status == 400)
          toastr.error("Xin lỗi, phòng này đã đủ sinh viên!");
        }
      }
    })
  }

  //chi duyển học viên ra ngoài. chỉ bắt sự kiện khi thả vào div pending_students_list chưa onDrop dropRevert
  function dropRevert(ev){
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    document.querySelector('.students_list').appendChild(document.getElementById(data));
    document.querySelector(`#${data}`).classList.remove("eight", "wide", "column");
    console.log(data)
    $.ajax({
      type: "POST",
      url: "students-arrangement/remove-student",
      data: {student_id: data.split("_")[1]}, //lấy id của học viên 
      success: function(result){
        $.ajax({
          type: "GET",
          url: `room-management/${result.room.id}/number-student`,
          success: function(result){
            if (result.room.id != 1){
            toastr.success("Di chuyển học viên thành công!");
            $('#room_current_member').html(result.room.number_student + "/" + result.room.max_number_student)
            $(`#room_member_card_${result.room.id}`).html(result.room.number_student + "/" + result.room.max_number_student)
            if (result.room.status == "PENDING") {
                $(`#room_status_card_${result.room.id}`).html('Đang bỏ trống')
            } else if (result.room.status == "UNFILLED"){
              $(`#room_status_card_${result.room.id}`).html('Đang còn chỗ')
            }
            else{
              $(`#room_status_card_${result.room.id}`).html('Đã đầy')
            }
            }
          },
          error: function (error) {

          }
        })

      },
      error: function(result){
        console.log(result.message)
      }
    })

  }
  //show tất cả các room ban đầu( sd hàm seaarch khi ô search k có gì)
  // student_arrangement_controller # search_rooms_arrangement
  // result là student_arrangement/room_list_arrangement
  $.ajax({
    type: "GET",
    url: "students-arrangement/all-rooms-arrangement",
    success: function(result){
      $('#room_list_arrangement').html(result)
    }

  })
//hiển thị danh sách student ban đầu. 
//student_management_controller # find_pending_student
// result là partial students_arrangement/pending_student_list
  $.ajax({
    type: "GET",
    url: "student-management/pending-students", 
    success: function(result){
      $('#pending_students_list').html(result)
    }
  })
//room được chon
// room_management_controller
// result laf partial room_manageemnt/activeroom
  function activeRoom(room_id){ //room_management_controller
    $.ajax({
      type: "GET",
      url: `room-management/rooms/${room_id}/active_room`,
      success: function(result){ //result là một partial tên _room_active của room_management
        $("#active_room_box").html(result)
         console.log("oke")
      },
      error: function (error) {
      }
    })
  }
  
  // //tìm kiếm phòng
  // controller students_arrangement#search_rooms_arrangement
  // partial student_arrangement/room_list_arrangement

$(document).on("turbolinks:load", function() {
    $(".search-room-form").on("keyup", function() {
      $.ajax({
        type: "GET",
        url: "/manager/students-arrangement/all-rooms-arrangement?q=" + this.value,
        success: function(result){
          $('#room_list_arrangement').html(result) 
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
        }
      })
    });
  });

// SEARCH STUDENT
// controller "students_arrangement#search_pending_students_arrangement"
// partial  student_arrangement /pending_student_list

  $(document).on("turbolinks:load", function() {
    $(".search-student-form").on("keyup", function() {
      // $(".students").html("");
      // $('#pending_students_list').html("")
      $.ajax({
        type: "GET",
        url: "/manager/students-arrangement/all-pending-students-arrangement?q=" + this.value,
        success: function(result){
          $('#pending_students_list').html(result) 
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
        }
      })
    });
  });

</script>
<style>
.students_item{
  cursor: pointer;
}

</style>