<div class="ui divided items" style="width: 85%; margin: 0 auto; background-color: #f4f4f6" >
  <% @posts.each do |post| %>
    <div class="item" style="padding: 2rem 2rem; padding-top: 2rem !important;">
      <div class="ui small image">
        <img src="/assets/noti.jpeg" style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;">
      </div>
      <div class="content">
        <div class="header"><%= post.title %></div>
        <div class="meta" style="display: flex; flex-direction: column; justify-content: space-between; height: 8.5rem">
          <span style="margin-bottom: 1rem; line-height: 1.7rem; word-wrap: break-word; overflow: hidden; -webkit-line-clamp: 4 ; -webkit-box-orient: vertical; display: -webkit-box">
            <%= remove_html_tag(post.content).html_safe %>
          </span>
          <a href="posts/<%= post.id %>" data-turbolinks="false">Xem thêm&rarr;</a>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="mt-4" style="float: right; margin-top: 1rem;">
    <%= paginate @posts, turbolinks: false %>
  </div>
</div>
