<div class="homepage_management_show" style="width: 70%; margin: 10rem auto">
  <div class="title">
    <h1>Setting up GraphQL Server with NodeJS, Express and MongoDb</h1>
  </div>
  <div class="time" style="margin: 1.5rem 0">
    <span>Feb 3, 2019·5 min read</span>
  </div>
  <div class="image">
    <img src="/assets/ava.jpg" style="width: 100%">
  </div>
  <div class="content" style="margin-top: 2rem" >
    <p style="font-size: 1.1rem;line-height: 2rem;">2. Install Express middleware, express-graphql and Graphql modules. The express-graphql module allows Express to understand 
    GraphQL and provide a simple way to run a server to provide GraphQL APIs. It basically helps Express to process GraphQL 
    queries and we use it as a middleware on a single route and this route will be used as an endpoint to interact with our Graphql data.
    2. Install Express middleware, express-graphql and Graphql modules. The express-graphql module allows Express to understand 
    GraphQL and provide a simple way to run a server to provide GraphQL APIs. It basically helps Express to process GraphQL 
    queries and we use it as a middleware on a single route and this route will be used as an endpoint to interact with our Graphql data.
    2. Install Express middleware, express-graphql and Graphql modules. The express-graphql module allows Express to understand 
    GraphQL and provide a simple way to run a server to provide GraphQL APIs. It basically helps Express to process GraphQL 
    queries and we use it as a middleware on a single route and this route will be used as an endpoint to interact with our Graphql data.</p>
  </div>
  <div class="footer">
  </div>
</div>
